# Payment API
BYL_API_KEY=your_byl_api_key
BYL_API_URL=https://byl.mn/api/v1/invoice

# SMM API
SMM_API_KEY=your_smm_api_key
SMM_API_URL=your_smm_api_url

# App URL
NEXT_PUBLIC_APP_URL=https://your-domain.com

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_secure_password

# Firebase Client SDK
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

# Firebase Admin SDK
FIREBASE_SERVICE_ACCOUNT_KEY= 